<%= render 'shared/banner' %>

<h1 class="text-center">Cocktails</h1>
<div class="container" id="cocktails" >
  <div class="row  btn-home">
    <%= link_to new_cocktail_path do %>
      <div class="btn btn-danger">
        Create cocktail
      </div>
    <% end %>
  </div>
  <div class="row">
    <% @cocktails.each do |f| %>
    <div class="col-xs-12 col-sm-3">
      <%= render 'shared/card', cocktail: f %>
    </div>
    <% end %>
  </div>
</div>

